@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

:root {
  --background: #ffffff;
  --foreground: #0f172a;
  --card: #ffffff;
  --card-foreground: #0f172a;
  --popover: #ffffff;
  --popover-foreground: #0f172a;
  --primary: #2563eb;
  --primary-foreground: #f9fafb;
  --secondary: #f1f5f9;
  --secondary-foreground: #0f172a;
  --muted: #f1f5f9;
  --muted-foreground: #64748b;
  --accent: #f1f5f9;
  --accent-foreground: #0f172a;
  --destructive: #ef4444;
  --destructive-foreground: #f9fafb;
  --border: #e2e8f0;
  --input: #e2e8f0;
  --ring: #2563eb;
  --chart-1: #2563eb;
  --chart-2: #22998d;
  --chart-3: #8033cc;
  --chart-4: #fce482;
  --chart-5: #dc2828;
  --sidebar: #f1f5f9;
  --sidebar-foreground: #0f172a;
  --sidebar-primary: #2563eb;
  --sidebar-primary-foreground: #f9fafb;
  --sidebar-accent: #dbe6f0;
  --sidebar-accent-foreground: #0f172a;
  --sidebar-border: #cdd7e5;
  --sidebar-ring: #2563eb;
  --font-sans: "Inter", sans-serif;
  --font-serif: "Lora", serif;
  --font-mono: "Fira Code", monospace;
  --radius: 0.5rem;
  --shadow-x: 0;
  --shadow-y: 0.25rem;
  --shadow-blur: 0.5rem;
  --shadow-spread: 0;
  --shadow-opacity: 0.1;
  --shadow-color: 0 0% 0%;
  --shadow-2xs: 0 0.25rem 0.5rem 0 hsl(0 0% 0% / 0.05);
  --shadow-xs: 0 0.25rem 0.5rem 0 hsl(0 0% 0% / 0.05);
  --shadow-sm: 0 0.25rem 0.5rem 0 hsl(0 0% 0% / 0.1), 0 1px 2px -1px hsl(0 0% 0% / 0.1);
  --shadow: 0 0.25rem 0.5rem 0 hsl(0 0% 0% / 0.1), 0 1px 2px -1px hsl(0 0% 0% / 0.1);
  --shadow-md: 0 0.25rem 0.5rem 0 hsl(0 0% 0% / 0.1), 0 2px 4px -1px hsl(0 0% 0% / 0.1);
  --shadow-lg: 0 0.25rem 0.5rem 0 hsl(0 0% 0% / 0.1), 0 4px 6px -1px hsl(0 0% 0% / 0.1);
  --shadow-xl: 0 0.25rem 0.5rem 0 hsl(0 0% 0% / 0.1), 0 8px 10px -1px hsl(0 0% 0% / 0.1);
  --shadow-2xl: 0 0.25rem 0.5rem 0 hsl(0 0% 0% / 0.25);
  --tracking-normal: 0;
  --spacing: 0.25rem;
}

.dark {
  --background: #101114;
  --foreground: #f9fafb;
  --card: #101114;
  --card-foreground: #f9fafb;
  --popover: #101114;
  --popover-foreground: #f9fafb;
  --primary: #2563eb;
  --primary-foreground: #f9fafb;
  --secondary: #1c1e22;
  --secondary-foreground: #f9fafb;
  --muted: #1c1e22;
  --muted-foreground: #94a3b8;
  --accent: #1c1e22;
  --accent-foreground: #f9fafb;
  --destructive: #7f1d1d;
  --destructive-foreground: #f9fafb;
  --border: #22252a;
  --input: #22252a;
  --ring: #2563eb;
  --chart-1: #2563eb;
  --chart-2: #22998d;
  --chart-3: #8033cc;
  --chart-4: #fce482;
  --chart-5: #dc2828;
  --sidebar: #101114;
  --sidebar-foreground: #f9fafb;
  --sidebar-primary: #2563eb;
  --sidebar-primary-foreground: #f9fafb;
  --sidebar-accent: #1c1e22;
  --sidebar-accent-foreground: #f9fafb;
  --sidebar-border: #22252a;
  --sidebar-ring: #2563eb;
  --font-sans: "Inter", sans-serif;
  --font-serif: "Lora", serif;
  --font-mono: "Fira Code", monospace;
  --radius: 0.5rem;
  --shadow-x: 0;
  --shadow-y: 0.5rem;
  --shadow-blur: 1rem;
  --shadow-spread: 0;
  --shadow-opacity: 0.25;
  --shadow-color: 0 0% 0%;
  --shadow-2xs: 0 0.5rem 1rem 0 hsl(0 0% 0% / 0.13);
  --shadow-xs: 0 0.5rem 1rem 0 hsl(0 0% 0% / 0.13);
  --shadow-sm: 0 0.5rem 1rem 0 hsl(0 0% 0% / 0.25), 0 1px 2px -1px hsl(0 0% 0% / 0.25);
  --shadow: 0 0.5rem 1rem 0 hsl(0 0% 0% / 0.25), 0 1px 2px -1px hsl(0 0% 0% / 0.25);
  --shadow-md: 0 0.5rem 1rem 0 hsl(0 0% 0% / 0.25), 0 2px 4px -1px hsl(0 0% 0% / 0.25);
  --shadow-lg: 0 0.5rem 1rem 0 hsl(0 0% 0% / 0.25), 0 4px 6px -1px hsl(0 0% 0% / 0.25);
  --shadow-xl: 0 0.5rem 1rem 0 hsl(0 0% 0% / 0.25), 0 8px 10px -1px hsl(0 0% 0% / 0.25);
  --shadow-2xl: 0 0.5rem 1rem 0 hsl(0 0% 0% / 0.63);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);

  --font-sans: var(--font-sans);
  --font-mono: var(--font-mono);
  --font-serif: var(--font-serif);

  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);

  --shadow-2xs: var(--shadow-2xs);
  --shadow-xs: var(--shadow-xs);
  --shadow-sm: var(--shadow-sm);
  --shadow: var(--shadow);
  --shadow-md: var(--shadow-md);
  --shadow-lg: var(--shadow-lg);
  --shadow-xl: var(--shadow-xl);
  --shadow-2xl: var(--shadow-2xl);

  --tracking-tighter: calc(var(--tracking-normal) - 0.05em);
  --tracking-tight: calc(var(--tracking-normal) - 0.025em);
  --tracking-normal: var(--tracking-normal);
  --tracking-wide: calc(var(--tracking-normal) + 0.025em);
  --tracking-wider: calc(var(--tracking-normal) + 0.05em);
  --tracking-widest: calc(var(--tracking-normal) + 0.1em);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
    letter-spacing: var(--tracking-normal);
  }
}
